blueprints/agentesva-recordatorio-citas-v1.json
{
  "name": "AgentesVA - Recordatorio de Citas v1",
  "flow": [
    {
      "id": 1,
      "module": "google-calendar:watchEvents",
      "version": 3,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        },
        "calendarId": "primary",
        "watchNewEvents": true,
        "watchUpdatedEvents": false
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "01 | Detectar nuevo evento en calendario"
        }
      }
    },
    {
      "id": 2,
      "module": "google-email:sendAnEmail",
      "version": 4,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "to": "{{1.attendees[].email}}",
        "subject": "Recordatorio: {{1.summary}} — mañana a las {{formatDate(1.start.dateTime; 'HH:mm')}}",
        "content": "<p>Hola,</p>\n\n<p>Te recordamos que tienes una cita programada para <strong>mañana</strong>:</p>\n\n<table style='border-collapse:collapse; width:100%; max-width:500px;'>\n  <tr><td style='padding:8px; background:#f5f5f5;'><strong>📅 Fecha</strong></td><td style='padding:8px;'>{{formatDate(1.start.dateTime; 'DD/MM/YYYY')}}</td></tr>\n  <tr><td style='padding:8px; background:#f5f5f5;'><strong>🕐 Hora</strong></td><td style='padding:8px;'>{{formatDate(1.start.dateTime; 'HH:mm')}} hrs</td></tr>\n  <tr><td style='padding:8px; background:#f5f5f5;'><strong>📋 Servicio</strong></td><td style='padding:8px;'>{{1.summary}}</td></tr>\n  <tr><td style='padding:8px; background:#f5f5f5;'><strong>📍 Lugar</strong></td><td style='padding:8px;'>{{1.location}}</td></tr>\n</table>\n\n<p style='margin-top:16px;'>Si necesitas cancelar o reprogramar, contáctanos con al menos 24 horas de anticipación.</p>\n\n<p>¡Te esperamos!<br>\n<strong>[TU_NOMBRE]</strong><br>\n[TU_NEGOCIO]<br>\n[TU_TELÉFONO]</p>",
        "type": "html"
      },
      "filter": {
        "name": "Solo eventos de mañana",
        "conditions": [
          [
            {
              "a": "{{formatDate(1.start.dateTime; 'YYYY-MM-DD')}}",
              "b": "{{formatDate(addDays(now; 1); 'YYYY-MM-DD')}}",
              "o": "text:equal"
            }
          ]
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "02 | Enviar recordatorio 24h antes"
        }
      }
    },
    {
      "id": 3,
      "module": "google-email:sendAnEmail",
      "version": 4,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "to": "{{1.attendees[].email}}",
        "subject": "⏰ En 2 horas: {{1.summary}}",
        "content": "<p>Hola,</p>\n\n<p>Tu cita es <strong>en 2 horas</strong>. Te mandamos este recordatorio para que no se te pase:</p>\n\n<table style='border-collapse:collapse; width:100%; max-width:500px;'>\n  <tr><td style='padding:8px; background:#fff3cd;'><strong>🕐 Hora</strong></td><td style='padding:8px;'>{{formatDate(1.start.dateTime; 'HH:mm')}} hrs</td></tr>\n  <tr><td style='padding:8px; background:#fff3cd;'><strong>📋 Servicio</strong></td><td style='padding:8px;'>{{1.summary}}</td></tr>\n  <tr><td style='padding:8px; background:#fff3cd;'><strong>📍 Lugar</strong></td><td style='padding:8px;'>{{1.location}}</td></tr>\n</table>\n\n<p style='margin-top:16px;'>¡Nos vemos pronto!<br>\n<strong>[TU_NOMBRE]</strong><br>\n[TU_NEGOCIO]<br>\n[TU_TELÉFONO]</p>",
        "type": "html"
      },
      "filter": {
        "name": "Solo eventos en 2 horas",
        "conditions": [
          [
            {
              "a": "{{formatDate(1.start.dateTime; 'YYYY-MM-DD HH')}}",
              "b": "{{formatDate(addHours(now; 2); 'YYYY-MM-DD HH')}}",
              "o": "text:equal"
            }
          ]
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 200,
          "name": "03 | Enviar recordatorio 2h antes"
        }
      }
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dl": false,
      "dataloss": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}