blueprints/agentesva-agente-reactivacion-v1.json
{
  "name": "AgentesVA - Agente de Reactivación v1",
  "flow": [
    {
      "id": 1,
      "module": "google-sheets:filterRows",
      "version": 2,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        },
        "spreadsheetId": {
          "__IMTCONN__": null
        },
        "sheetId": ""
      },
      "mapper": {
        "from": "1",
        "to": ""
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "01 | Leer hoja de clientes"
        }
      }
    },
    {
      "id": 2,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "model": "gpt-4o",
        "messages": [
          {
            "role": "system",
            "content": "Eres el asistente de reactivación de clientes de un negocio latinoamericano. Tu tarea es redactar un email personalizado y cálido para reconectar con un cliente que no ha tenido actividad en más de 30 días.\n\nEl email debe:\n- Sonar genuino, como de una persona real (no automatizado)\n- Mencionar el servicio que usó anteriormente\n- Ofrecer algo de valor: un consejo útil, una novedad del negocio, o una oferta especial\n- Tener un llamado a la acción claro y suave (no agresivo)\n- Firma con [TU_NOMBRE] y [TU_NEGOCIO]\n\nNO uses frases como 'Te echamos de menos' o 'Ha pasado tiempo'. Sé creativo y directo.\nDevuelve SOLO el HTML del cuerpo del email."
          },
          {
            "role": "user",
            "content": "Cliente a reactivar:\nNombre: {{1.Nombre}}\nEmail: {{1.Email}}\nÚltimo servicio: {{1.Ultimo_Servicio}}\nFecha último contacto: {{1.Fecha_Ultimo_Contacto}}\n\nRedacta el email de reactivación."
          }
        ],
        "max_tokens": 400,
        "temperature": 0.75
      },
      "filter": {
        "name": "Clientes inactivos hace más de 30 días",
        "conditions": [
          [
            {
              "a": "{{1.Reactivacion_Enviada}}",
              "b": "NO",
              "o": "text:equal:ci"
            },
            {
              "a": "{{parseDate(1.Fecha_Ultimo_Contacto; 'YYYY-MM-DD')}}",
              "b": "{{addDays(now; -30)}}",
              "o": "date:lessThan"
            }
          ]
        ]
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "02 | Generar mensaje de reactivación con IA"
        }
      }
    },
    {
      "id": 3,
      "module": "google-email:sendAnEmail",
      "version": 4,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "to": "{{1.Email}}",
        "subject": "{{1.Nombre}}, tenemos algo para ti",
        "content": "{{2.choices[1].message.content}}",
        "type": "html"
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "03 | Enviar email de reactivación"
        }
      }
    },
    {
      "id": 4,
      "module": "google-sheets:updateRow",
      "version": 2,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        },
        "spreadsheetId": {
          "__IMTCONN__": null
        },
        "sheetId": ""
      },
      "mapper": {
        "rowNumber": "{{1.__ROW_NUMBER__}}",
        "values": {
          "Reactivacion_Enviada": "SI"
        }
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 900,
          "y": 0,
          "name": "04 | Marcar cliente como contactado"
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dl": false,
      "dataloss": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}