blueprints/agentesva-clasificador-correos-v1.json
{
  "name": "AgentesVA - Clasificador de Correos v1",
  "flow": [
    {
      "id": 1,
      "module": "google-email:triggerWatchNewEmails",
      "version": 4,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        },
        "label": "INBOX",
        "criteria": "ALL",
        "maxResults": 2,
        "markSeen": false,
        "includeAttachments": false
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "01 | Vigilar correos entrantes"
        },
        "restore": {
          "parameters": {
            "label": {
              "label": "INBOX",
              "data": "INBOX"
            }
          }
        }
      }
    },
    {
      "id": 2,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "model": "gpt-4o",
        "messages": [
          {
            "role": "system",
            "content": "Eres un clasificador de correos electrónicos para un pequeño negocio latinoamericano.\nTu única tarea es leer el asunto, remitente y resumen del correo, y devolver UNA SOLA\nde estas etiquetas exactas, sin explicación ni texto adicional:\n\nVA/Consulta\nVA/Pedido\nVA/Urgente\nVA/Queja\nVA/Pago\nVA/Spam\n\nReglas de clasificación:\n- VA/Consulta: preguntas, solicitudes de información, \"¿cómo funciona?\", \"quisiera saber\"\n- VA/Pedido: quiero contratar, reservar, comprar, solicitar un servicio\n- VA/Urgente: palabras como urgente, ASAP, hoy mismo, emergencia, fecha límite\n- VA/Queja: reclamo, problema, molestia, \"no funcionó\", \"estoy decepcionado\"\n- VA/Pago: factura, pago, cobro, presupuesto, cotización, precio\n- VA/Spam: newsletter, publicidad, oferta masiva, noreply, unsubscribe\n\nSi hay duda entre dos categorías, elige la de mayor urgencia para el negocio.\nResponde ÚNICAMENTE con el nombre exacto de la etiqueta. Sin puntos, sin comillas, sin explicación."
          },
          {
            "role": "user",
            "content": "De: {{1.from}}\nAsunto: {{1.subject}}\nResumen: {{1.snippet}}"
          }
        ],
        "max_tokens": 20,
        "temperature": 0
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "02 | Clasificar correo con IA"
        }
      }
    },
    {
      "id": 3,
      "module": "google-email:updateEmailLabels",
      "version": 4,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "messageId": "{{1.id}}",
        "labels": [
          {
            "value": "{{2.choices[1].message.content}}"
          }
        ]
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "03 | Aplicar etiqueta clasificada"
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "confidential": false,
      "dl": false,
      "dataloss": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}