blueprints/agentesva-generador-contenido-v1.json
{
  "name": "AgentesVA - Generador de Contenido Semanal v1",
  "flow": [
    {
      "id": 1,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        }
      },
      "mapper": {
        "model": "gpt-4o",
        "messages": [
          {
            "role": "system",
            "content": "Eres un estratega de contenido digital para pequeños negocios latinoamericanos. Tu tarea es generar 7 ideas de contenido para redes sociales para la semana.\n\nPara cada idea debes generar exactamente este formato JSON (sin markdown, solo el array):\n[\n  {\n    \"dia\": \"Lunes\",\n    \"formato\": \"Reels / Carrusel / Post / Historia\",\n    \"tema\": \"Título del contenido\",\n    \"descripcion\": \"Descripción en 1-2 oraciones de qué trata\",\n    \"caption\": \"Caption listo para publicar con emojis y hashtags relevantes (máx 150 palabras)\",\n    \"cta\": \"Llamado a la acción específico\"\n  }\n]\n\nReglas:\n- Mezcla formatos (no todos Reels, no todos Posts)\n- Un día dedicado a testimonios o casos de éxito\n- Un día educativo (tip, dato, cómo hacer algo)\n- Un día de oferta o servicio directo\n- Tono: cercano, profesional, latinoamericano\n- Devuelve SOLO el array JSON, sin texto adicional, sin markdown."
          },
          {
            "role": "user",
            "content": "Negocio: [NOMBRE_NEGOCIO]\nIndustria: [INDUSTRIA]\nRedes principales: [REDES_SOCIALES]\nSemana del: {{formatDate(now; 'DD/MM/YYYY')}}\n\nGenera el calendario de contenido para esta semana."
          }
        ],
        "max_tokens": 2000,
        "temperature": 0.8
      },
      "metadata": {
        "designer": {
          "x": 0,
          "y": 0,
          "name": "01 | Generar 7 ideas de contenido con IA"
        }
      }
    },
    {
      "id": 2,
      "module": "json:ParseJSON",
      "version": 1,
      "parameters": {},
      "mapper": {
        "data": "{{1.choices[1].message.content}}"
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 0,
          "name": "02 | Parsear JSON de ideas"
        }
      }
    },
    {
      "id": 3,
      "module": "google-sheets:addRow",
      "version": 2,
      "parameters": {
        "account": {
          "__IMTCONN__": null
        },
        "spreadsheetId": {
          "__IMTCONN__": null
        },
        "sheetId": ""
      },
      "mapper": {
        "values": {
          "Semana": "{{formatDate(now; 'DD/MM/YYYY')}}",
          "Dia": "{{2.dia}}",
          "Formato": "{{2.formato}}",
          "Tema": "{{2.tema}}",
          "Descripcion": "{{2.descripcion}}",
          "Caption": "{{2.caption}}",
          "CTA": "{{2.cta}}",
          "Estado": "Pendiente"
        }
      },
      "filter": null,
      "metadata": {
        "designer": {
          "x": 600,
          "y": 0,
          "name": "03 | Guardar ideas en calendario de Sheets"
        }
      }
    }
  ],
  "metadata": {
    "instant": false,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": true,
      "confidential": false,
      "dl": false,
      "dataloss": false
    },
    "designer": {
      "orphans": []
    },
    "zone": "eu1.make.com"
  }
}